h2{
    text-align: center;
}
.jumbotron{
    margin-top: -4%;

}
.cursor{
    cursor:pointer;
}
.ui-autocomplete {
  z-index:2147483647;
}
#showFilters{
    font-size: 20px;
}
#showFilters p{
    float: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-size-report{
    height: 100px;
    width: 230px;
    font-size: 14px;
    font-weight:bolder;
}